[submodule "src/extern/openssl-cmake"]
	path = src/extern/openssl-cmake
	url = https://github.com/viaduck/openssl-cmake.git
[submodule "src/extern/google-benchmark"]
	path = src/extern/google-benchmark
	url = https://github.com/google/benchmark.git
